venv310/

MultiSrcMultiDst/*/*
!MultiSrcMultiDst/
!MultiSrcMultiDst/*/

SingleSrcMultiDst/*/*
!SingleSrcMultiDst/
!SingleSrcMultiDst/*/

SinglePhoto/*/*
!SinglePhoto/
!SinglePhoto/*/

VideoSwapping/*/*
!VideoSwapping/
!VideoSwapping/*/

__pycache__/*